<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @drink.ingredients %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @drink.photo %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
